body {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;

  --dark-grey: #76757C;
  --mid-grey: #ADACB5;
  --light-grey: #F4F5F6;
  --red: #ED6A5A;
  --dark-blue: #2D3142;
  --light-blue: #B0D7FF;
  --very-light-blue: #E3F0FD;
  --purple: #B18FCF;
  --light-purple: #D8D8F6;

  color: var(--dark-blue);
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-size: 1em;
}

h1 {
  font-size: 2em;
  font-weight: 100;
}

h2 {
  font-size: 1.5em;
  font-weight: 100;
}

input {
  box-shadow: 0 1px 1px rgba(160, 160, 160, 0.2) inset;
  padding: 7px 8px;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--mid-grey);
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
}

input:focus {
  outline: var(--light-blue) auto 5px;
}

button {
  padding: 10px 20px;
  background: none;
  color: var(--dark-blue);
  border-radius: 3px;
  border: 2px solid var(--dark-blue);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

button:focus {
  outline:0;
}

button.danger {
  color: var(--red);
  border: 2px solid rgba(0, 0, 0, 0);
}

input[type="checkbox"] {
  box-sizing: border-box;
  display: none;
  padding: 0;
}
input[type="checkbox"] + label.toggle {
  margin: 0 10px;
  background: var(--mid-grey);
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
  outline: 0;
  display: block;
  width: 3em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
}
input[type="checkbox"] + label.toggle:after {
  border-radius: 50%;
  background: white;
  transition: all .2s ease;
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
}
input[type="checkbox"]:checked + label.toggle {
  background: #9FD6AE;
}
input[type="checkbox"]:checked + label.toggle:after {
  left: 50%;
}

.whiteContainer {
  background-color: #FFFC;
  padding: 50px 60px;
  box-shadow: rgba(0,0,0,0.1) 0 0 35px;
  border-radius: 4px;
}
