.dashboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dashboard .dashboardNav {
  width: 100%;
  background-color: var(--light-blue);
  flex-shrink: 0;

  display: flex;
  justify-content: center;
}

.dashboard .dashboardNav .navOption {
  padding: 6px 14px;
  margin: 10px 20px;
  border-radius: 15px;
  border: 1px solid var(--dark-blue);
  cursor: pointer;

  text-decoration: none;
  color: inherit;
}

.dashboard .dashboardNav .navOption.active {
  background-color: var(--dark-blue);
  color: white;
}

.dashboard h2 {
  margin-top: 0;
}
