.newVaultEntry {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.newVaultEntry .whiteContainer {
  margin: 40px;
  width: 500px;
}

.newVaultEntry .errorText {
  margin: 10px 0;
}

.newVaultEntry button {
  margin: 0;
}

.newVaultEntry .title, .newVaultEntry .secret {
  min-width: 15em;
}

.newVaultEntry .secret {
  min-height: 5em;
}
