.masterDecrypter .secretForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.masterDecrypter .tapRequired {
  --timer-background: var(--light-grey);
  --duration: 10s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.masterDecrypter .textAndTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
