.u2f {
  border-radius: 4px;
  min-height: 70px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  --duration: 30s;
}

.u2f.register {
  background: var(--light-grey);
  --timer-background: var(--light-grey);
}

.u2f.login {
  --timer-background: white;
}

.u2f .tapStage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u2f .retryButton {
  margin-top: 10px;
}

.u2f .horizontalCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
