.account {
  display: flex;
  justify-content: center;
}

.account .accountContainer {
  margin: 40px;
  min-width: 688px;
  box-sizing: border-box;
}

.account .greyBox {
  background-color: var(--light-grey);
  border-left: 2px solid var(--purple);
  box-sizing: border-box;
  padding: 20px;
  margin-top: 10px;
}

.account .table {
  border-radius: 4px;
  background-color: white;
  padding: 5px;
  margin: 20px 0;
}

.account .tableEntry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  color: var(--dark-grey);
  min-height: 40px;
}
