.keys .keyName {
  width: 40%;
}

.keys .keyCreatedAt, .keys .keyRevoke {
  width: 30%;
}

.keys .keyRevoke {
  display: flex;
  justify-content: center;
}

.keys .keyRevoke button {
  margin: 0;
}

.keys .errorText {
  margin-top: 15px;
}

.keys .nameForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
