.keys .keyName, .keys .keyButtons {
  width: 40%;
}

.keys .privateText {
  color: var(--red);
}

.keys .keyCreatedAt {
  width: 20%;
}

.keys .keyButtons {
  display: flex;
  justify-content: flex-end;
}

.keys .keyButtons button {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 73px;
}

.keys .errorText {
  margin-top: 15px;
}

.keys .nameForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keys .nameUrlForm, .keys .nameKeyForm {
  display: flex;
  flex-direction: column;
}

.keys .urlForm, .keys .keyForm {
  display: flex;
  flex-direction: column;
}

.keys .urlFormButtons, .keys .keyFormButtons {
  display: flex;
  justify-content: flex-end;
}
