.loginRegister {
  display: flex;
  flex-direction: column;
}

.loginRegister .toggles {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.loginRegister .toggle {
  cursor: pointer;
  padding: 0 15px 5px;
  margin: 0 5px;
}

.loginRegister .toggle:hover {
  border-bottom: 2px solid var(--mid-grey);
}

.loginRegister .toggle.active {
  border-bottom: 2px solid var(--dark-blue);
}

.loginRegister .inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginRegister .verificationText {
  color: var(--dark-grey);
  font-size: 0.8em;
  width: 220px;
  margin: 10px;
}

.loginRegister .errorText {
  width: 220px;
  font-size: 0.7em;
  color: var(--red);
}

.loginRegister button {
  margin-top: 20px;
}

.loginRegister input {
  min-width: 220px;
}

.loginRegister .welcomeBack {
  min-width: 220px;
  margin: 10px;
}

.loginRegister .goToDashboardButtonWrapper {
  display: flex;
  justify-content: center;
}
